.img-container {
  position: relative;
}

.img1 {
  height: 240px;
  width: 150px;
  position: absolute;
  left: 25%;
  top: 15%;
  transform: rotate(28deg);
}

.img2 {
  height: 240px;
  width: 150px;
  position: absolute;
  left: 50%;
  transform: rotate(105deg);
}

.img3 {
  height: 240px;
  width: 150px;
  position: absolute;
}

.img4 {
  height: 240px;
  width: 150px;
  position: absolute;
  left: 25%;
  bottom: 15%;
  transform: rotate(90deg);
}

.hero-image-container {
  height: calc(100% - 120px);
}

@media (min-width: 320px) and (max-width: 801px) {
  .hero-container {
    padding-top: 120px;
    height: auto;
  }

  .hero-text-container {
    height: 50vh;
    margin-bottom: 0;
    justify-content: center;
  }

  .hero-image-container {
    height: 50vh;
    justify-content: center;
  }
}
